.sidebar-menu-container{
    display: flex;

    height: 70vh;

    flex-direction: column;

    justify-content: space-around;

  
    .sidebar-menu-item{
        cursor: pointer;
    }

    .sidebar-menu-item:hover{
        transform: scale(1.05);
        color: #51DB74;
        
    }
    
}