.modal-container{

    padding:2rem 5rem;

    height: 100%;

    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    
   .hints{
       font-weight: 600;
   }
}

.file-upload{

    input{
        background: transparent;

        border: 0.1rem  dashed  #d0d8dd;

        padding: 0.5rem;

        width: 100%;
     
    }


    button{
        width: 10rem;
        margin-top: 1rem;
    }
}

.show{
    display: block;  
}

.hide{
    display: none;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003a;
    transition: opacity 0.2s ease;

    z-index: 888;
}


.modal {
    width: 50rem;
    height: 25rem;
    position: relative;
    margin: 0 auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 2px;
    transform: translateY(50%);
    transition: transform 0.2s ease;
    box-shadow: 0 0 0.25rem rgb(182, 182, 182);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal .close-btn {
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0 auto;
    // border-radius: 50%;
    box-shadow: 1px 1px 1px #e0e0e03a;
    cursor: pointer;
    // border: 1px solid rgba(0, 0, 0, 0.562);
  }