.base-container {
    display: grid;

    grid-template-columns: 12.5rem auto;


    .base-item {
        height: 98vh;


    }

    .sidebar {
        color: rgb(82, 222, 117);

    }

    .section {
        overflow-y: scroll;
        margin: 0.45rem 0;

        border-radius: 1.5rem 0 0 1.5rem;

        background-color: rgb(249, 250, 253);

        box-shadow: 0.15rem 0 0.25rem rgb(255, 255, 255);
    }


    .navbar {
        z-index: 102;
        position: fixed;
        height: 3rem;
        width: 75vw;
        background-color: rgb(249, 250, 253);
        border-radius: 1.5rem 0 0 0;

        display: flex;

        justify-content: flex-end;
        align-items: center;

        padding: 0 6rem;



    button{
        background: transparent;
        padding: 0.5rem 2rem;

        box-shadow: 0 0.15rem 0.05rem rgb(226, 240, 235);

        outline: none;

        border: none;

        cursor: pointer;

        margin: 0 0.25rem;
    }

    button:hover{
        transform: scale(1.05);
    }
    }
}


.profile{
    border-radius: 50% ;
    margin: 0 1rem;

    width: 2.2rem;
    height: 2.2rem;

    border:0.1rem solid rgb(255, 255, 255);

    background: url("https://firebasestorage.googleapis.com/v0/b/classspace-eb69a.appspot.com/o/profile.png?alt=media&token=13e054b1-3d77-4f18-ace2-e368fe22547f");

    background-repeat: no-repeat;
    background-size: contain;
}