// body {
//   background-color: #282c34;
// }

body{
    margin: 0 ;
    padding: 0;

    box-sizing: border-box;

    background-color: #394A6D;

  
}


a{
    text-decoration: none;

    color: inherit;
}


@import "./styles/main.scss";