// body {
//   background-color: #282c34;
// }

body{
    margin: 0 ;
    padding: 0;

    box-sizing: border-box;

    background-color: #394A6D;

  
}


a{
    text-decoration: none;

    color: inherit;
}


.header{
    height: 18rem;
    margin-bottom: 1rem;
    padding: 2rem 5rem;

    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    .heading{
        font-size: 2em;

        text-transform: uppercase;
    }
}



@import "./styles/main.scss";